.popup--beginner
    width: 330px
    height: 640px
    background-color: $shadow
    position: absolute
    left: 50%
    top: 50%
    position: fixed
    transform: translate(-50%, -50%)
    display: none

.activePopup
    display: block

@media (min-width: 720px)
    .popup--beginner
        height: 620px
        width: 700px