*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif
    transition: .3s

$purpleWelcome: #423fff
$pinkWelcome: #a010bc
$button: #4136e2
$grayFirst: #1f1f21
$graySec: #282421
$grayPurp: #1e1f21
$shadow: #2c2d2d
$fontColor: #a8aaad
$black: #191919
$grayNote: #353535
$orange: #f76b38
$grayTitles: #919191